* {
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 30px;
  background: #edefee;
}
.nav img {
  display: block;
  margin-block: 10px;
}
.nav img:nth-child(1) {
  margin-block: 15px;
}
.nav img:nth-child(2) {
  margin-block: 2px;
}
.hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #495e57;
}
.hero img {
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
form {
  padding: 3rem;
  border-radius: 6px;
  background-color: "#fff" !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.calendar-box {
  border: rgb(226, 232, 240) solid 1px;
  border-radius: 6px;
  width: 100%;
  padding: 5px 16px;
}
